<ion-header>
  <ion-navbar>
    <ion-title>Dados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Papel</ion-label>
      <ion-input type="text" ngForm="papel"></ion-input>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <p *ngFor="let item of items1">{{item.key + ": " + item.value}}</p>
      <p *ngFor="let item of items3">{{item.key + ": " + item.value}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
