<ion-header>
  <ion-navbar>
    <ion-title>Dados Fundamentus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Papel</ion-label>
      <ion-input id="valor" type="text" [(ngModel)]="papel" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-list>
  <div>
    <button class="button-md-primary" block (click)="setPapel(papel)">Buscar</button>
  </div>
  <ion-card>
    <ion-card-content>
      <p *ngFor="let item of items1">{{item.key + ": " + item.value}}</p>
      <p *ngFor="let item of items3">{{item.key + ": " + item.value}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
